@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.wrapper {
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	background-color: orange;
}

/*Navigation bar code below*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(0, 128, 128);
}

li {
	float: left;
}

li a {
	display: flex;
	justify-content: space-around;
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(0, 128, 100, 0.5);
}

/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	background-color: rgb(0, 128, 128);
}

li a {
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(0, 128, 100, 0.5);
}*/

/*Intro text*/

#intro {
	text-align: center;
	margin: 0 auto;
	font-family: 'Great Vibes', cursive;
}

header {
	width: 90%;
	height: 500px;
	background-color: grey;
	margin: 0 auto;
}

.wedding_info_pictures {
	width: 90%;
	height: 600px;
	margin: 10px auto;
}

.wedding_info_pictures article {
	width: 40%;
	float: left;
	background-color: green;
	height: 600px;
	box-sizing: border-box;
	padding: 50px;
	line-height: 1.8;
}

.wedding_info_pictures video {
	width: 60%;
	float: left;
	background-color: red;
	height: 600px;
	box-sizing: border-box;
	padding: 50px;
}