@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.wrapper {
	padding-right: 0px;
	padding-left: 0px;
	margin: 0 auto;
	background-color: #FFFCF1;
	overflow: hidden;
}

/*Navigation bar code below*/

ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #62B6CC;
}

li {
	float: left;
}

li a {
	display: flex;
	justify-content: space-around;
	color: rgba(0,0,0,0.75);
	text-align: center;
	padding: 14px 40px;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;

}

li a:hover {
	background-color: #FF94B8;
	color: rgba(255,255,255,0.75);
	text-transform: uppercase;
}

/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	background-color: rgb(0, 128, 128);
}

li a {
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(0, 128, 100, 0.5);
}*/

/*Intro text*/

#intro {
	text-align: center;
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	padding: 45px 0;
	color: rgba(0,0,0,0.75);
}

h1 {
    font-size: 64px;
    font-weight: 800;
}

h3 {
    font-size: 40px;
    font-weight: 600;
}

p {
	font-size: 20px;
	font-weight: 300;
}

header {
	width: 100%;
	height: 500px;
	background-color: grey;
	margin: 0 auto;
}

main {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0 auto;
}

.wedding_info_pictures_left {
    height: 600px;
    width: 100%;
    background-color: #FF94B8;
}

.wedding_info_pictures_right {
    height: 600px;
    width: 100%;
    background-color: #62B6CC;
}

.wedding_info_pictures_left article {
	width: 40%;
	float: left;
	height: 600px;
	box-sizing: border-box;
	padding: 50px;
	line-height: 1.8;
	color: rgba(0,0,0,0.75);
}

.wedding_info_pictures_left video {
	width: 60%;
	float: left;
	height: 600px;
	box-sizing: border-box;
	padding: 50px;
}

.wedding_info_pictures_right article {
	width: 40%;
	float: right;
	height: 600px;
	box-sizing: border-box;
	padding: 50px;
	line-height: 1.8;
	color: rgba(0,0,0,0.75);
}

.wedding_info_pictures_right video {
	width: 60%;
	float: right;
	height: 600px;
	box-sizing: border-box;
	padding: 50px;
}