@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.wrapper {
	padding-right: 0px;
	padding-left: 0px;
	margin: 0 auto;
	background-color: #FFFCF1;
	overflow: hidden;
}

/*Navigation bar code below*/

nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #62B6CC;
}

nav li {
	float: left;
}

nav li a {
	display: flex;
	justify-content: space-around;
	color: rgba(0,0,0,0.75);
	text-align: center;
	padding: 14px 40px;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;

}

nav li a:hover {
	background-color: #FF94B8;
	color: rgba(255,255,255,0.75);
	text-transform: uppercase;
}

/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	background-color: rgb(0, 128, 128);
}

li a {
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(0, 128, 100, 0.5);
}*/

/*Intro text*/

header {
	width: 100%;
	margin: 0 auto;
}

#magdalen_drawing img {
	width: 100%;
	object-fit: contain;
}

#intro {
	text-align: center;
	margin: 0 auto;
	font-family: 'Amatic SC', cursive;
	padding: 45px 0;
	color: rgba(0,0,0,0.75);
}

h1 {
    font-size: 64px;
    font-weight: 800;
}

h3 {
    font-size: 40px;
    font-weight: 600;
}

p, span {
	font-size: 20px;
	font-weight: 300;
}

main {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0 auto;
}

.wedding_info {
	box-sizing: border-box;
	width: 100%;
}

.wedding_info:after {
	content: "";
	display: block;
	clear: both;
}

.pictures_right {
	 background-color: #62B6CC;
	 float: right;
}

.pictures_left {
    background-color: #FF94B8;
    float: left;
}

.wedding_info article {
	width: 40%;
	padding: 50px;
	line-height: 1.8;
	color: rgba(0,0,0,0.75);
	box-sizing: border-box;
	border: black 1px solid;
}

.wedding_info video {
	width: 60%;
	padding: 50px;
	box-sizing: border-box;
	border: black 1px solid;
}

form {
    text-align: center;
    background-color: white;
    border: 3px black solid;
}

#places_to_stay img {
	display: inline-block;
	padding: 10px;
}

footer {
	font-family: 'Amatic SC', cursive;
}